body {
    margin: 10px;
}


div {
    padding: 10px;
}


.container-div {
    display: flex;
    align-items: center;
    align-content: flex-start;
    border: solid 0.001cm black;
    margin-bottom: 10px;
    /* Separar entre contenedores */
    gap: 5px;
    /* Espaciado entre los elementos dentro del contenedor */
}


.small {
    border: solid 0.001cm black;
}


.box {
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
}
